// @import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap');
/* inner SVG viewBox is dimensions of outer * 1.25*/
:root {
 --colWidth: 14.285714%;
 --rowHeight: 6%;
 --rowIncrement: 6%;
 --topMargin: 10%;
 --Lmargin: 0%;
 --colIncrement: 1;
}


.container {
  background: linear-gradient(45deg, orange 20%, green 20% 70%, grey 70% 100%);
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.sub-container {
opacity: 1;
}

svg {
  margin: auto;
}


.desknote,
.tabnote {
  opacity: 0;
}

.phonenote {
  opacity: 1;
}

svg.outer-svg {
  width: 100%;
  height: 100%;
}

text {
  fill: #000;
  font-size: 40px;
}

.bg {
  // fill: rgba(22, 184, 33, 1);
  fill: #949494;
  width: 100%;
  height: 100%;
}
.celltop {
  stroke-width: 1;
    width: var(--colWidth);
    height: var(--rowHeight); 
    // stroke: #ddd;  
}
/* determines dimensions of each cell */
.cellSymbol {
  rect{
    width: var(--colWidth);
    height: var(--rowHeight); 
  }
}


.smtwtfs {
  &-phone {
    display: block;
    fill: #bbb;
    }
  &-tablet {
    display: none;
    fill: #bbb;
    }
  &-desk {
    display: none;
    fill: #bbbbbb;
    }
}


/* transparentize */ 
.rows {
  rect {
    fill: transparent;
  }
   .celltop {
           stroke: #ccc;
      &:hover {
        stroke: #fff;
        stroke-width: 1.5;
      }
    }
}
/* space from top */
.row-1 {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(var(--Lmargin));
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6 {
  .a {
    transform: translatex(calc((0 * var(--colIncrement)) * var(--colWidth)));
  }

  .b {
    transform: translatex(calc((1 * var(--colIncrement)) * var(--colWidth)));
  }

  .c {
    transform: translatex(calc((2 * var(--colIncrement)) * var(--colWidth)));
  }

  .d {
    transform: translatex(calc((3 * var(--colIncrement)) * var(--colWidth)));
  }

  .e {
    transform: translatex(calc((4 * var(--colIncrement)) * var(--colWidth)));
  }

  .f {
    transform: translatex(calc((5 * var(--colIncrement)) * var(--colWidth)));
  }

  .g {
    transform: translatex(calc((6 * var(--colIncrement)) * var(--colWidth)));
  }
}


.row-2 {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(var(--Lmargin));
}

.row-3 {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(var(--Lmargin));
}

.row-4 {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(var(--Lmargin));
}

.row-5 {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(var(--Lmargin));
}

.row-6 {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(var(--Lmargin));
}

/***************************************************/
/************* Tablets *****************************/
/***************************************************/

@media screen and (min-width: 567px) {
  :root {
    --colWidth: 12%;
    --rowHeight: 12%;
    --rowIncrement: 12.3%;
    --topMargin: 17%;
    --Lmargin: 7.16%;
    --colIncrement: 1.01;
  }

  svg.outer-svg {
    height: 65vh;
    width: 90vw;
  }
 
  .daygrp {
    transform-origin: 100% 0%;
    transform: scale(1,1) translatex(0%) translateY(0%);
  }
  .smtwtfs {
    &-phone {
      display: none;
    }
    &-tablet {
      display: block;
    }
    &-desk {
      display: none;
    }
  }
  

  /*
 a -0
 b -1.02 x 12 = 12.24
 c -2.04 x 12 = 24.48
 d -3.06 x 12 = 36.72
 e -4.08 x 12 = 48.96
 f -5.10 x 12 = 61.2
 g -6.12 x 12 = 73.44
 h? -7.14 x 12 = 85.68
 */
  // .bg {
  //   fill: rgba(122, 34, 133, 0.5);
  // }

  .tabnote {
    opacity: 1;
  }

  .phonenote,
  .desknote {
    opacity: 0;
  }


}

/***************************************************/
/******************* Desk & cascade ****************/
/***************************************************/
@media screen and (min-width: 1025px) {
  :root {
    --colWidth: 13%;
    --rowHeight: 11.7%;
    --rowIncrement: 12%;
    --topMargin: 20%;
    --Lmargin: 3.9%;
  }

  svg.outer-svg {
    height: 80vh;
    width: 80vw;
  }

  .desknote {
    opacity: 1;
  }

  .tabnote,
  .phonenote {
    opacity: 0;
  }
  .smtwtfs {
    &-phone {
      display: none;
    }
    &-tablet {
      display: none;
    }
    &-desk {
      display: block;
    }
  }
  // .bg {
  //   fill: rgba(255, 238, 87, 0.5);
  // }

}