@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700&display=swap');

:root {
  --colWidth: 14.285714%;
  --rowHeight: 6%;
  --rowIncrement: 6%;
  --topMargin: 10%;
  --Lmargin: 0%;
  --colIncrement: 1;

  --testery: 20%;
  --testerx: 20%;
  --testerColor: blue;
}


.container {
  background: linear-gradient(45deg, orange 20%, green 20% 70%, grey 70% 100%);
  font-family: 'Josefin Sans', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.sub-container {
  opacity: 1;
}

svg {
  margin: auto;
}


.desknote,
.tabnote {
  opacity: 0;
}

.phonenote {
  opacity: 1;
}

svg.outer-svg {
  width: 100%;
  height: 100%;
}

text {
  fill: #000;
  font-size: 30px;
}

.bg {
  // fill: rgba(22, 184, 33, 1);
  fill: #949494;
  width: 100%;
  height: 100%;
}


/* determines dimensions of each cell */
// .cellSymbol {
//   fill: currentColor;

//   rect {
//     width: var(--colWidth);
//     height: var(--rowHeight);

//     &:last-of-type {
//       stroke: #fff;
//       stroke-width: 1.5;
//       fill: transparent;
//     }
//   }
// }


.smtwtfs {
  &-phone {
    display: block;
    fill: #bbb;
  }

  &-tablet {
    display: none;
    fill: #bbb;
  }

  &-desk {
    display: none;
    fill: #bbbbbb;
  }
}


.daycell:nth-child(1) {
  // transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
  // transform: translate(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)) ,calc(var(--topMargin) + 0 * var(--rowIncrement)))
}

.daycell:nth-child(2) {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((1 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));

}

.daycell:nth-child(3) {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((2 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));

}

.daycell:nth-child(4) {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((3 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(5) {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((4 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(6) {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((5 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(7) {
  transform: translatey(calc(var(--topMargin) + 0 * var(--rowIncrement))) translatex(calc(((6 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(8) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(9) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((1 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(10) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((2 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(11) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((3 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(12) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((4 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(13) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((5 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(14) {
  transform: translatey(calc(var(--topMargin) + 1 * var(--rowIncrement))) translatex(calc(((6 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(15) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(16) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((1 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(17) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((2 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(18) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((3 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(19) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((4 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(20) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((5 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(21) {
  transform: translatey(calc(var(--topMargin) + 2 * var(--rowIncrement))) translatex(calc(((6 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(22) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(23) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((1 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(24) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((2 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(25) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((3 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(26) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((4 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(27) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((5 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(28) {
  transform: translatey(calc(var(--topMargin) + 3 * var(--rowIncrement))) translatex(calc(((6 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(29) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(30) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((1 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(31) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((2 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(32) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((3 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(33) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((4 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(34) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((5 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(35) {
  transform: translatey(calc(var(--topMargin) + 4 * var(--rowIncrement))) translatex(calc(((6 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(36) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((0 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(37) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((1 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(38) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((2 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(39) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((3 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(40) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((4 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(41) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((5 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}

.daycell:nth-child(42) {
  transform: translatey(calc(var(--topMargin) + 5 * var(--rowIncrement))) translatex(calc(((6 * var(--colIncrement)) * var(--colWidth)) + var(--Lmargin)));
}



/***************************************************/
/************* Tablets *****************************/
/***************************************************/

@media screen and (min-width: 567px) {
  :root {
    --colWidth: 12%;
    --rowHeight: 12%;
    --rowIncrement: 12.1%;
    --topMargin: 17%;
    --Lmargin: 7.16%;
    --colIncrement: 1;
  }

  svg.outer-svg {
    height: 65vh;
    width: 90vw;
  }

  .smtwtfs {
    &-phone {
      display: none;
    }

    &-tablet {
      display: block;
    }

    &-desk {
      display: none;
    }
  }


  /*
 a -0
 b -1.02 x 12 = 12.24
 c -2.04 x 12 = 24.48
 d -3.06 x 12 = 36.72
 e -4.08 x 12 = 48.96
 f -5.10 x 12 = 61.2
 g -6.12 x 12 = 73.44
 h? -7.14 x 12 = 85.68
 */
  // .bg {
  //   fill: rgba(122, 34, 133, 0.5);
  // }

  .tabnote {
    opacity: 1;
  }

  .phonenote,
  .desknote {
    opacity: 0;
  }


}

/***************************************************/
/******************* Desk & cascade ****************/
/***************************************************/
@media screen and (min-width: 1025px) {
  :root {
    --colWidth: 13%;
    --rowHeight: 11.7%;
    --rowIncrement: 12%;
    --topMargin: 20%;
    --Lmargin: 3.9%;
  }

  svg.outer-svg {
    height: 80vh;
    width: 80vw;
  }

  .desknote {
    opacity: 1;
  }

  .tabnote,
  .phonenote {
    opacity: 0;
  }

  .smtwtfs {
    &-phone {
      display: none;
    }

    &-tablet {
      display: none;
    }

    &-desk {
      display: block;
    }
  }

  // .bg {
  //   fill: rgba(255, 238, 87, 0.5);
  // }

}